.ng-invalid-required {
  border: none;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../resources/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-light';
  src: url('../../resources/fonts/Roboto-light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../../resources/fonts/Roboto-Bold.ttf') format('truetype');
}
.sell-popup-container {
  border: 1px solid #c9c9c9;
  min-width: 1171.4px;
}
.sell-popup-container .header {
  background-color: #e5e5e5;
  margin-bottom: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.sell-popup-container .header .header-title {
  padding-left: 6px;
  font-weight: bold;
  font-size: initial;
  position: relative;
}
.sell-popup-container .item-name {
  margin-bottom: 20px;
}
.sell-popup-container .item-description {
  margin-bottom: 20px;
}
.sell-popup-container .item-photos {
  margin-bottom: 20px;
}
.sell-popup-container .input-description {
  padding-left: 30px;
}
.sell-popup-container input[type=text] {
  border-radius: 3px;
  position: relative;
  outline: none;
  width: 100%;
  padding: 3px 0px 3px 3px;
  border: 1.3px solid #DDDDDD;
}
.sell-popup-container input[type=text].ng-invalid-required {
  border: 1px solid red;
}
.sell-popup-container textarea {
  height: 90px;
  border-radius: 3px;
  position: relative;
  outline: none;
  width: 100%;
  padding: 3px 0px 3px 3px;
  border: 1.3px solid #DDDDDD;
  resize: none;
}
.sell-popup-container textarea.ng-invalid-required {
  border: 1px solid red;
}
.sell-popup-container input[type="radio"] {
  background-color: white;
}
.sell-popup-container input[type=number] {
  width: 75px;
  height: 30px;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: gray;
  text-indent: 10px;
}
.sell-popup-container .button-auction-add {
  margin-bottom: 20px;
}
.sell-popup-container .add-button {
  background-color: #a6b100;
  border: none;
  outline: none;
  width: 140px;
  height: 34px;
  color: #fff;
  font-family: "roboto-bold";
  font-size: 14px;
}
.sell-popup-container .currency {
  left: 10px;
  position: relative;
}
.sell-popup-container .lasting-time {
  right: 30%;
}
.sell-popup-container .item-bidding-info {
  margin-bottom: 20px;
}
.sell-popup-container select {
  outline: none;
  padding: 3px 0 3px 3px;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px #f2f6f9;
  min-width: 200px;
  min-height: 28px;
  position: relative;
}
.sell-popup-container select:hover {
  cursor: pointer;
}
.sell-popup-container .radio-buttons {
  position: relative;
  right: -13px;
}